OlympOnline/Service References/StudentIMService/Student2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://81.89.183.103:8989/Student.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentIMService" />
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentIMService" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestREST">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRESTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPersonalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPersonalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentIMService" minOccurs="0" name="GetStudentPersonalDataResult" nillable="true" type="q2:PersonClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>