OlympOnline/Service References/StudentIMService/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://81.89.183.103:8989/Student.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://81.89.183.103:8989/Student.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://81.89.183.103:8989/Student.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentIMService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_TestREST_InputMessage">
    <wsdl:part name="parameters" element="tns:TestREST" />
  </wsdl:message>
  <wsdl:message name="IStudentService_TestREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRESTResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentPersonalData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentPersonalData" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentPersonalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentPersonalDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetAllStudents" message="tns:IStudentService_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentsResponse" message="tns:IStudentService_GetAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/TestREST" message="tns:IStudentService_TestREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/TestRESTResponse" message="tns:IStudentService_TestREST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentPersonalData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentPersonalData" message="tns:IStudentService_GetStudentPersonalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentPersonalDataResponse" message="tns:IStudentService_GetStudentPersonalData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestREST">
      <soap:operation soapAction="http://tempuri.org/IStudentService/TestREST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentPersonalData">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentPersonalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://81.89.183.103:8989/Student.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>